version: '3.8'

services:
  api:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    environment:
      - TTM_ENV=development
    restart: always

  neo4j:
    image: neo4j:5.12.0
    ports:
      - "7474:7474"
      - "7687:7687"
    environment:
      - NEO4J_AUTH=neo4j/password
    volumes:
      - neo4j_data:/data

  web:
    build: ./web
    ports:
      - "3000:80"
    depends_on:
      - api

volumes:
  neo4j_data:
